{{ 'products-gradi.css' | asset_url | stylesheet_tag }}
{{ 'radioButtonPicker.css' | asset_url | stylesheet_tag }}
<script src="{{ 'checksDinamically.js' | asset_url }}" defer="defer"></script>


<div class="wrapper">
    <div>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a>Home</a>
        </li>
        <li class="breadcrumb-item">
          <a>Sections</a>
        </li>
        <li class="breadcrumb-item active">
          <a>{{ section.settings.title | escape }}</a>
        </li>
      </ol>
    </div>
 
    <h2 class="header-title">{{ section.settings.description | escape }}</h2>

    <div class="row">
      {% for product in collections['test'].products %}
      <div class="col-4">
        <div class="content-product">
          <div class="box-product__image">
            <img id="productImage{{ product.id }}" class="product__image" src="{{ product.featured_media | image_url: width: 533 }}" width="100" height="100" loading="lazy"/>
          </div>
          <h2 style="margin: 5px 0px">{{ product.title }}</h2>
          <div>
            <form name="myChecks" class="products__variants">
              {% for variant in product.variants %}
                   {%- if variant.title != "Default Title" -%} 
                    <label class="container">
                        <input type="radio" name="radioButton" value='{{ variant | json }}' onchange="handleChange(this);">
                        <span class="checkmark {{ variant.title }}"></span>
                    </label>
                   {%- endif -%}
              {% endfor %}
            </form>
          </div>
          <div class="text-ellipsis">
            <p>{{ product.description }}</p>
          </div>

          <input id="inputData{{ product.id }}" type="hidden" value=""/>

          <h3 id="price{{ product.id }}" style="margin: 10px 0px">{{ product.price | money_with_currency }}</h3>
          <div class="box-content">
              <button class="btn btn-primary btn-outline" onclick="handleOnclick({{ product.id }})">Add to Cart</button>
          </div>
        </div>
      </div>
      {%endfor%}

    </div>
</div>

{% schema %}
{
  "name": "t:sections.featured-carrusel.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.featured-carrusel.settings.title.label"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "t:sections.featured-carrusel.settings.description.label"
    }
  ]
}
{% endschema %}


